<div class="row row-cards">
    <div class="space-y">
        <!-- BLOCK news -->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{news.TITLE}</h3>
                    <div>{news.SHORT_TEXT}</div>
                </div>
                <div class="card-footer card-footer-transparent">
                    <a href="/news/view?id={news.ID}">Подробнее</a>
                </div>
            </div>
        <!-- ENDBLOCK -->
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="pagination ">
                    <!-- BLOCK pages -->
                    <li class="page-item {pages.STATUS}">
                        <a class="page-link" href="/news?page={pages.IND}">{pages.PAGE}</a>
                    </li>
                    <!-- ENDBLOCK -->
                </ul>
            </div>
        </div>
    </div>
</div>